# Demand prediction baseline solution

In [11]:
import pandas as pd

train = pd.read_csv("train.tsv")
test = pd.read_csv("test.tsv")
sample_submission = pd.read_csv("sample_submission.tsv")

In [12]:
frac = 0.1 # fraction of learning examples used for model fitting

# sample the train set if your don't want to deel with all examples
train = train.sample(frac=frac, random_state=42)

X = train.drop(['Num','y'], axis=1)
y = train['y']
print len(X), len(y)

7246 7246

In [13]:
%%time
from sklearn.ensemble import GradientBoostingRegressor

model = GradientBoostingRegressor(n_estimators=100, max_depth=5, random_state=43)
model.fit(X, y)

preds = model.predict(test.drop(['Num'], axis=1))

print len(preds)
print len(sample_submission)

2016
2016
CPU times: user 6.19 s, sys: 3.33 ms, total: 6.2 s
Wall time: 6.2 s

In [14]:
sample_submission['y'] = preds

In [15]:
sample_submission.head(5)

      Num              y
0  348622    3098.119369
1  348623   31132.837802
2  348624  334972.050497
3  348625   40890.440505
4  348626    3098.119369

In [16]:
# In GBM you can get some negative predictions:
print sample_submission[sample_submission['y'] < 0]

Empty DataFrame
Columns: [Num, y]
Index: []

In [17]:
sample_submission['y'] = sample_submission['y'].map(lambda x: x if x > 0 else 0.0)

In [18]:
sample_submission.to_csv("baseline_submission.tsv", sep=',', index=False)

In [19]:
sample_submission

         Num              y
0     348622    3098.119369
1     348623   31132.837802
2     348624  334972.050497
3     348625   40890.440505
4     348626    3098.119369
5     348627  188431.632095
6     348628   84277.242950
7     348629   90141.129689
8     348630  102751.388598
9     348631    3792.138020
10    348632    3027.077114
11    348633   61703.428919
12    348634  318759.301742
13    348635   32881.867239
14    348636    3611.645278
15    348637  197349.469723
16    348638  120796.422048
17    348639  514573.956474
18    348640  589884.776490
19    348641    3933.641408
20    348642  137193.568197
21    348643   85208.186813
22    348644    3098.119369
23    348645   29203.590989
24    348646   12500.560579
25    348647  173753.693040
26    348648    7865.315932
27    348649   56213.497048
28    348650    6820.104329
29    348651   23394.527299
...      ...            ...
1986  351499    3022.768389
1987  351500  297306.129354
1988  351501   18946.394500
1989  351502   21115.572511
1990  351503    3022.768389
1991  351504    3022.768389
1992  351505   22754.826412
1993  351506    3022.768389
1994  351507    3022.768389
1995  351508  117186.472927
1996  351509  630398.246012
1997  351510  300826.294852
1998  351511  582518.778704
1999  351512   32145.253997
2000  351513    3022.768389
2001  351514   34246.357960
2002  351515  525585.063880
2003  351516  132419.610599
2004  351517  191663.201118
2005  351518  474634.007986
2006  351519    3022.768389
2007  351520    3022.768389
2008  351521    3022.768389
2009  351522    3022.768389
2010  351523    8260.234641
2011  351524   57306.509518
2012  351525   25435.986915
2013  351526   21115.572511
2014  351527    3022.768389
2015  351528    7608.265712

[2016 rows x 2 columns]